.mainImg {
    width: 750px;
    height: 374px;
    overflow: hidden;
}
.list {
    width: 750px;
}
p {
    display: inline;
}
.list > span {
    display: inline-block;
    width: 140px;
    height: auto;
}
.list > span > img {
    display: block;
}